<div class = "password-container" [formGroup]="form">
  <input type="text" formControlName="password" (input)="checkPassword()" placeholder="Введите пароль">

  <div class="password-strength-bar">

    <div class="strength-level" [ngClass]="{'weak': passwordStrength === 'weak', 'medium': passwordStrength === 'medium', 'strong': passwordStrength === 'strong'}"></div>
    <div class="strength-level" [ngClass]="{'weak': passwordStrength === 'weak', 'medium': passwordStrength === 'medium', 'strong': passwordStrength === 'strong'}"></div>
    <div class="strength-level" [ngClass]="{'weak': passwordStrength === 'weak', 'strong': passwordStrength === 'strong'}"></div>
  </div>
</div>

<div class="password-strength-label">
  <p class="password-label">Password Strength: {{ passwordStrength }}</p>
</div>
